<div class="row">
  <div class="twelve columns">
    <article>
      <h3>
        {{ post.title }} {{ post.id }}
        <small>{{ post.author.name }}</small>
      </h3>
      <div>
        {{ post.content }}
      </div>
    </article>
     
    <div>
      <h2>Add A Comment</h2>
      {{> comments._form }}
     
      <section>
        {{#post.comments}}
          <div>
            {{> comments._comment }}
          </div>
        {{/post.comments}}
      </section>
    </div>
  </div>
</div>