{{#exists}}
  <form action="/v1/authors/{{ author.id }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
{{/exists}}
{{^exists}}
  <form action="/v1/authors" method="post">
{{/exists}}
 
  <fieldset>
 
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="name" value="{{ author.name }}" />
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="email" value="{{ author.email }}" />
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <input type="text" name="website" value="{{ author.website }}" />
      </div>
    </div>
 
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Save" />
    </div>
 
  </fieldset>
</form>