<div class="row">
	<div class="twelve columns">
		<article>
		  <h3>
		    {{ author.name }} {{ author.id }}
		    <small>{{ author.email }}</small>
		  </h3>
		  <div>
		    {{ author.website }}
		  </div>
		</article>
	</div>
</div>